version: '3'
services:
        db:
          image: "postgres:12.0"
          restart: "always"
          ports:
            - "3452:5432"
          volumes:
            - ./:/path/to/db_volume
          environment:
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
          env_file:
            - ./.env
        web_app:
          image: "web"
          environment:
            - DJANGO_SETTINGS_MODULE=${DJANGO_SETTINGS_MODULE}
            - SECRET_KEY=${SECRET_KEY}
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
          depends_on:
            - db
          ports:
            - "8800:8000"
          build:
            context: .
            dockerfile: Dockerfile
          command: /usr/local/bin/python manage.py runserver 0.0.0.0:8000
          volumes:
            - .:/app
        manage:
          build:
            context: .
            dockerfile: Dockerfile
          command: shell_plus --ipython
          depends_on:
            - db
          entrypoint: /usr/local/bin/python /app/manage.py
          volumes:
            - .:/app
          environment:
            - DJANGO_SETTINGS_MODULE=${DJANGO_SETTINGS_MODULE}
            - SECRET_KEY=${SECRET_KEY}
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
